	body {
	
		padding: 60px;
		background: url("backgroundim.png");
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
		
		}
	
	h1 {
	
		color: white; 
		padding: 20px;
		background-color: #ff9933;
		margin: auto;
		font-size:300%;
		font-family:century gothic;
		opacity: 0.6;
		
		}
	
	.main {
	
		padding-right: 10px;
		padding-left: 10px;
		margin:0px;
		position: relative;
		background-color: #ffffff;
		background-size:cover;
		opacity: 0.6;
		
		}	
		
	.buttons {
	
	margin: 0px;
	float:right;
	
	}
		
	ul { 
	
		list-style: none; 
		padding-right: 10px;
		padding-left: 10px;
		margin:0px;
		position: relative;
		background-color: #ffffff;
		background-size:cover;
		opacity: 0.6;
		
		}
		
	li { 
	
		margin: auto;
		background-color: #ffffff;
		background-size:cover;
		opacity: 0.6;
		
		}	

	#InputTodo {
		width: 500px;
		margin: 20px 10px;
		padding-left:20px;
		height: 80px; 
		border:2px solid #ccc; 
		border-radius: 5px;
		font-size: 22px;
		font-family: century gothic;
		font-weight: bold;
		
		}
		
	#InputTodo:focus {
	
		border-color:#333;
		
		}

	#DateInput {
	
		width: 150 px;
		margin: 20px 10px;
		padding-left:0px;
		padding-right:0px;
		height: 80px;
		background:#F1F1F1; 
		border:2px solid #ccc; 
		cursor:pointer;
		font-size: 22px;
		font-family: century gothic;
		font-weight: bold;
		border-radius: 5px; 
		text-align: center;
		
	}
	
	#DateInput:focus {
	
		border-color:#333;
		
	}
	
	#DateSort {
		margin:20px 10px; 
		opacity:0.6;
	
	}
	
	#DateSort:hover { 
	
		cursor:pointer;
		opacity: 1;
		
	}
	
	#addTodo {
		margin:20px 10px; 
		opacity:0.6;
	
	}
	
	#addTodo:hover { 
	
		cursor:pointer;
		opacity: 1;
		
	}
	
	#Importance {
	
		padding-left:10px;
		margin:20px 10px; 
		width: 200px;
		height: 80px;
		background:#F1F1F1; 
		border:2px solid #ccc; 
		cursor:pointer;
		border-radius: 5px; 
		font-size: 22px;
		font-family: century gothic;
		font-weight: bold;
		
	}