body {
	background-color: yellow;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
}

table {
	width: 100%;
	border: 2px solid darkslategray;	
	margin: auto;
	padding: auto;
	animation-name: onAppearance;
	animation-duration: 3s;
}

th {

	text-align: center;
	font-family: times;
	color: brown;
	font-weight: 12px;
	font-weight: bold;
}

td {

	text-align: center;
	font-family: times;
	font-style: italic;
	color: brown;
	font-weight: 12px;

}

@keyframes onAppearance {
	from(opacity: 0;)
	to(opacity: 1;)
	
}








/* 5, 5, 3, 2 /* 